.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 80vw;
    align-items: center;
  }
  video {
    background-color: #111;
  }
  #error-msg {
    color: red;
    margin-bottom: 10px;
  }

img {
    display: block;
    text-align: center;
    max-width: 215px;
}